/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для шапки сайта */
header {
    background-color: #3b3b3b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Стили для разделов */
section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* Стили для проектов */
.project {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    color: #007bff;
    text-decoration: none;
}

/* Стили для списка навыков */
#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    margin-bottom: 5px;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

